@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.mainAD {
    height: 30px;
    box-sizing: border-box;
}

header {
    height: 100vh;
    width: 100vw;
    color: #fff;
    background: url("/Farm3/web/images/pexels-pixabay-259280.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sub-nav {}

.nav-bar {
    justify-content: space-between;
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-bar ul li {
    margin: 0 30px;
    text-decoration: none;
}

.nav-bar ul li a {
    color: whitesmoke;
    font-size: 30px;
}

.header-content {
    margin-bottom: 150px;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.header-content h1 {
    font-size: 70px;
}

.manu {
    color: whitesmoke;
    margin-bottom: 150px;
}

.line {
    height: 10px;
    width: 400px;
    background: greenyellow;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.line2 {
    height: 10px;
    width: 50px;
    background: greenyellow;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line3 {
        width: 30px;
        height: 3px;
        background: #fff;
        margin: 6px 0;
    }
    .nav-bar {
        overflow: hidden;
        height: 0;
        transition: 0.3s;
    }
}

.activity {
    padding: 9px;
    background: red;
    border-radius: 30px;
    color: whitesmoke;
}

.hidden {
    opacity: 0;
    transition: all 3s;
}

.show {
    opacity: 1;
}

.ad1 {
    background: url('/Farm3/web/images/pexels-livier-garcia-1459331.jpg');
    height: 70vh;
    width: 45vw;
    background-size: cover;
    border-radius: 30px;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    gap: 3;
    -webkit-filter: brightness(70%);
}

.ad1:hover {
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.ad2 {
    -webkit-filter: brightness(70%);
    background: url('/Farm3/web/images/pexels-alejandro-barrón-96715.jpg');
    height: 70vh;
    width: 50vw;
    background-size: cover;
    border-radius: 30px;
    grid-row: 2;
    display: flex;
}

.ad2:hover {
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.headings {
    justify-content: center;
    padding: 30px;
    font-size: 6vmin;
    display: flex;
}

row {
    display: flex;
    gap: 20px;
}

.child {
    float: left;
    width: 50%;
    display: flex;
}

.child:hover {
    transform: scale(1.1);
    transition: all 1s;
}

.inText {
    color: #fff;
    text-align: center;
    justify-content: center;
    height: 30vh;
    width: 45vw;
    font-size: 4vmin;
}

.inText2 {
    color: #fff;
    text-align: center;
    justify-content: center;
    height: 30vh;
    width: 45vw;
}

.inText2:hover {
    -webkit-filter: brightness(100%);
}

.hamburger {
    display: none;
}

.login {
    align-items: center;
    height: 100vh;
}